<?php
/**
 * HTML VIEW
 */
?>

<?php foreach ($table->getPlayers() as $player): ?>
    <div class="player">
        <h4>Player "<?php echo $player->getFirstname() ?>" cards:</h4>
        <ul>
            <?php foreach ($player->getCards() as $card): ?>
                <li><?php echo $card->getColorName() ?> with value <?php echo $card->getValueName() ?></li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endforeach; ?>